language: python

python:
  - "3.6"      # current default Python on Travis CI
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements-test.txt
  - pip install coverage pytest

script:
  - coverage run -m pytest

after_success:
  - bash <(curl -s https://codecov.io/bash)
