# Add README, LICENSE and requirements
include README.rst
include LICENSE
include requirements.txt

# Add datasets files
include systole/datasets/ppg1.npy
include systole/datasets/ppgSignal2.npy
include systole/datasets/rr.txt
